<div align="center">

  <h1>Welcome to<br>
    <span style="font-style: italic;font-weight: 700;font-size:2em;">Rena</span>
  </h1>

  <p>
    <%= link_to 'Enter the aRena', games_test_path %>
  </p>

</div>